.testimonials {
  margin: 143px 0 157px;
}

.testimonials-container {
  max-width: 1597px;
  margin: 0 auto;
  padding: 0 130px;
  background: var(--color-section-bg);
  border-radius: 20px;
  position: relative;
}

@media (max-width: 1400px) {
  .testimonials-container {
    padding: 0 80px;
  }
}

@media (max-width: 1200px) {
  .testimonials-container {
    padding: 0 50px;
  }
}

@media (max-width: 768px) {
  .testimonials {
    margin: 80px 0;
  }
  
  .testimonials-container {
    padding: 0 20px;
  }
}
